/* styles/_reset.scss (resumo) */
* {
    box-sizing: border-box;
}

html,
body,
#__nuxt {
    height: 100%;
}

body {
    margin: 0;
    background: var(--nx-bg);
    color: var(--nx-fg);
    font: 400 16px/1.45 Inter, system-ui, -apple-system, Segoe UI, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}